.max-width {
  width: 100%;
  max-width: 1024px;
  display: block;
  margin: auto; }

.mobile-full {
  width: 100%;
  float: left; }

.mobile-half {
  width: 44.9%;
  float: left;
  margin-left: .1%; }

.mobile-third {
  width: 33.2%;
  float: left;
  margin-left: .1%; }

.mobile-quarter {
  width: 24.9%;
  float: left;
  margin-left: .1%; }

@media (min-width: 500px) and (max-width: 900px) {
  .phablet-full {
    width: 100%;
    float: left; }
  .phablet-half {
    width: 44.9%;
    float: left;
    margin-left: .1%; }
  .phablet-third {
    width: 33.2%;
    float: left;
    margin-left: .1%; }
  .phablet-quarter {
    width: 24.9%;
    float: left;
    margin-left: .1%; } }

@media (min-width: 901px) and (max-width: 1200px) {
  .tablet-full {
    width: 100%;
    float: left; }
  .tablet-half {
    width: 44.9%;
    float: left;
    margin-left: .1%; }
  .tablet-third {
    width: 33.2%;
    float: left;
    margin-left: .1%; }
  .tablet-quarter {
    width: 24.9%;
    float: left;
    margin-left: .1%; } }

@media (min-width: 1201px) {
  .desktop-full {
    width: 100%;
    float: left; }
  .desktop-half {
    width: 44.9%;
    float: left;
    margin-left: .1%; }
  .desktop-third {
    width: 33.2%;
    float: left;
    margin-left: .1%; }
  .desktop-quarter {
    width: 24.9%;
    float: left;
    margin-left: .1%; } }

.primary-bg {
  background-color: #414141;
  overflow: hidden; }

.white-bg {
  background-color: #fff;
  overflow: hidden; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header-padding {
  padding: 40px 0;
  overflow: hidden; }

.logo-txt {
  font-weight: bold;
  font-size: 2em; }

.grumpy-banner {
  background: url(/app/images/banner.jpg) no-repeat;
  background-size: cover;
  min-height: 500px; }

@media (min-width: 500px) and (max-width: 900px) {
  .grumpy-banner {
    min-height: 250px; } }

@media (min-width: 901px) and (max-width: 1200px) {
  .grumpy-banner {
    min-height: 300px; } }

@media (min-width: 1201px) {
  .grumpy-banner {
    min-height: 400px; } }
