.max-width {
  width: 100%;
  max-width: 1024px;
  display: block;
  margin: auto; }

.mobile-full {
  width: 100%;
  float: left; }

.mobile-half {
  width: 44.9%;
  float: left;
  margin-left: .1%; }

.mobile-third {
  width: 33.2%;
  float: left;
  margin-left: .1%; }

.mobile-quarter {
  width: 24.9%;
  float: left;
  margin-left: .1%; }

.mobile-three-quarters {
  width: 74.9%;
  float: left;
  margin-left: .1%; }

@media (min-width: 500px) {
  .phablet-full {
    width: 100%;
    float: left; }
  .phablet-half {
    width: 44.9%;
    float: left;
    margin-left: .1%; }
  .phablet-third {
    width: 33.2%;
    float: left;
    margin-left: .1%; }
  .phablet-quarter {
    width: 24.9%;
    float: left;
    margin-left: .1%; }
  .phablet-three-quarters {
    width: 74.9%;
    float: left;
    margin-left: .1%; } }

@media (min-width: 900px) {
  .tablet-full {
    width: 100%;
    float: left; }
  .tablet-half {
    width: 44.9%;
    float: left;
    margin-left: .1%; }
  .tablet-third {
    width: 32.2%;
    float: left;
    margin-left: 1.1%; }
  .tablet-quarter {
    width: 24.9%;
    float: left;
    margin-left: .1%; }
  .tablet-three-quarters {
    width: 74.9%;
    float: left;
    margin-left: .1%; } }

@media (min-width: 1200px) {
  .desktop-full {
    width: 100%;
    float: left; }
  .desktop-half {
    width: 44.9%;
    float: left;
    margin-left: .1%; }
  .desktop-third {
    width: 33.2%;
    float: left;
    margin-left: .1%; }
  .desktop-quarter {
    width: 24.9%;
    float: left;
    margin-left: .1%; } }

.primary-bg {
  background-color: #414141;
  overflow: hidden; }

.white-bg {
  background-color: #fff; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header-padding {
  padding: 40px 0; }

.logo-txt {
  font-weight: bold;
  font-size: 2em; }

@media screen and (max-width: 900px) {
  .logo-txt {
    padding-left: 65px; } }

.footer-links {
  text-align: center; }

.footer-links a {
  color: #aeaeae;
  text-decoration: none;
  font-size: 1.4em; }

.footer-links .menu-item {
  color: #aeaeae;
  text-decoration: none;
  font-size: 0.75em;
  padding: 10px; }

.footer-links .menu-item li {
  padding: 5px; }

footer {
  padding: 70px 0; }

@media screen and (max-width: 900px) {
  .footer-links .menu-item {
    display: none; } }

div {
  box-sizing: border-box; }

.grumpy-banner {
  background: url(/app/images/banner.jpg) no-repeat center center;
  background-size: cover;
  min-height: 500px; }

.text-center {
  text-align: center; }

.grumpy {
  width: 100%; }

.effects {
  padding: 0 0 0 15px; }

.effects .grumpy-hover {
  position: relative;
  float: left;
  margin-bottom: 5px;
  overflow: hidden; }

.effects .grumpy-hover img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto; }

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: all 0.5s; }

a.hover-txt {
  display: block;
  position: absolute;
  z-index: 100;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  font-weight: 500; }

#effect-slide .overlay {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0; }

#effect-slide .overlay a.hover-txt {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -15px auto; }

#effect-slide .grumpy-hover.hover .overlay {
  height: 100%; }

h2 {
  font-weight: 500;
  font-size: 2.3em;
  padding: 50px 15px 25px 15px; }

h3 {
  font-size: 1.5em;
  padding: 10px 0; }

p {
  font-size: 1.5em; }

.lower-content {
  font-size: 1.2em; }

.lorem-ipsum {
  padding: 0 15px;
  display: block;
  margin: auto;
  max-width: 750px; }

.grumpy-tiles {
  width: 100%;
  max-width: 750px;
  display: block;
  margin: auto;
  padding: 50px 0;
  overflow: hidden; }

.pad-0-5 {
  padding: 5px; }

.pad-15 {
  padding: 15px; }

.center-item {
  display: block;
  margin: auto; }

@media (max-width: 900px) {
  .grumpy-banner {
    min-height: 250px; } }

@media (min-width: 901px) and (max-width: 1200px) {
  .grumpy-banner {
    min-height: 300px; } }

@media (max-width: 500px) {
  .effects {
    padding: 15px; } }

.toggle-nav {
  display: none; }

.menu ul {
  display: inline-block;
  float: right; }

.menu li {
  margin: 0px 50px 0px 0px;
  float: left;
  list-style: none;
  font-size: 17px; }

.menu li:last-child {
  margin-right: 0px; }

.menu a {
  text-decoration: none;
  color: #777;
  transition: color linear 0.15s; }

.menu a:hover, .menu .current-item a {
  text-decoration: none;
  font-weight: bold; }

@media screen and (min-width: 901px) {
  .menu {
    padding: 10px 18px; } }

@media screen and (max-width: 900px) {
  .menu {
    position: relative;
    display: inline-block;
    margin-right: 65px;
    float: right; }
  .menu ul.active {
    display: none; }
  .menu ul {
    width: 180%;
    position: absolute;
    top: 120%;
    left: -20px;
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030; }
  .menu ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 22px;
    content: '';
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030; }
  .menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block; }
  .menu a {
    display: block; }
  .toggle-nav {
    padding: 10px;
    float: left;
    display: inline-block;
    background: #303030;
    color: #fff;
    font-size: 20px;
    transition: color linear 0.15s; }
  .toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #fff; } }
