.footer-links a {
	color:#aeaeae;
	text-decoration:none;
	text-align:center;
	font-size:1.4em;
}

.footer-links ul li a {
	color:#aeaeae;
	text-decoration:none;
	text-align:center;
}

footer {
	padding:70px 0;
}