.grumpy-banner {
	background: url(/app/images/banner.jpg) no-repeat center center;
	background-size:cover;
	min-height:500px;
}

@media (max-width : 900px) {
	.grumpy-banner {
		min-height:250px;
	}
}

@media (min-width: 901px) and (max-width : 1200px) {
	.grumpy-banner {
		min-height:300px;
	}
}