.grumpy-banner {
	background: url(/app/images/banner.jpg) no-repeat center center;
	background-size:cover;
	min-height:500px;
}

.text-center {text-align:center;}

img .grumpy {
	width:100%;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30px;
}

@media (max-width : 900px) {
	.grumpy-banner {
		min-height:250px;
	}
}

@media (min-width: 901px) and (max-width : 1200px) {
	.grumpy-banner {
		min-height:300px;
	}
}